
@using LinkEditMarkdown = BlzSrvFlxSrl.Links.UpcomingEventsAdmin.EditMarkdown

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="card  border-primary my-5">

	<div class="card-header">

		<div class="row">
			<div class="col-6">
				<h4>
					<i class="far fa-calendar"></i>
					<span class='badge bg-primary'>@FormVM.EventDate.ToString(DateFormat.ddd_mm_dd)</span>
				</h4>
			</div>
			<div class="col-6">
					@*@((MarkupString)@GetDescriptionMD())*@

				@((MarkupString)@GetDescriptionMdPipeline())

			</div>
		</div>

	</div>

	<div class="card-body">
		<h3 class="card-text text-center">
			@FormVM.Title
		</h3>
	</div>

	<div class="card-body">
		@if (!String.IsNullOrEmpty(@FormVM.ImageUrl))
		{
			<p class="">@FormVM.ImageUrl</p>
			@*
			<CascadingValue Value="@false">
				<ImageDisplayOption>
					<img src='@Blobs.UrlOther(@ImageUrl)' alt="@Title" class="img-fluid rounded mt-4" />
				</ImageDisplayOption>
			</CascadingValue>
			*@
		}
	</div>

	<div class="card-body">

		@*
		@if (!String.IsNullOrEmpty(@YouTubeId))
		{
			@if (ShowVideo)
			{
				<YouTubeSpecialEvent YouTubeId="@YouTubeId"
														 Title="@Title">
				</YouTubeSpecialEvent>

				<div class="row">
					<div class="col">
						<button class="my-3 btn btn-xlarge btn-primary"
										@onclick="@(e => ShowVideo_Button_Click())">
							@((MarkupString)OppositeIcon) @OppositeToggleMsg
						</button>
					</div>
				</div>
			}
		}
		*@
		@if (!String.IsNullOrEmpty(@FormVM.YouTubeId))
		{
			<p>@FormVM.YouTubeId</p>

				<div class="row">
					<div class="col-12">
					<Button @onclick="ToggleButtonClick"
								class="@Color btn-sm">
						@Title <i class='@Icon'></i>
					</Button>
					</div>
			</div>
		}
		else
		{
			<p>No YouTubeId</p>
		}



		@if (!String.IsNullOrEmpty(@FormVM.SubTitle))
		{
			<h4 class="card-title">@FormVM.SubTitle</h4>
		}

		@if (!String.IsNullOrEmpty(@FormVM.WebsiteUrl))
		{
			<Anchor Href="@FormVM.WebsiteUrl" TargetIsBlank="true" Descr="@FormVM.WebsiteDescr">
			</Anchor>
		}
	</div>


	<div class="card-body">
		<p class="pb-2 border-success">
			@((MarkupString)FormVM.Description)
		</p>
		<button @onclick="@(e => Edit_ButtonClick(@FormVM.Id))"
						class="btn-default btn-sm" title="@LinkEditMarkdown.Title Id: @FormVM.Id">
			<i class="@LinkEditMarkdown.Icon2"></i>&nbsp;<i class="@LinkEditMarkdown.Icon"></i>
		</button>
	</div>

</div>

