@page "/SpecialEvents"
@using Page = BlzSrvFlxSrl.Links.SpecialEvents
@using BlzSrvFlxSrl.SmartEnums
@using LoginLink = BlzSrvFlxSrl.Links.Account
@using static BlzSrvFlxSrl.Services.Auth0;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<PageTitle>@Page.Title</PageTitle>

<div class="container-fluid bg-warning">
	<div class="row pt-2 pb-1">
		<div class="col-12">
			<DateRangePicker 
				OnRangeSelect="OnRangeSelect" 
				@bind-StartDate="@DateBegin"
				@bind-EndDate="@DateEnd" />
		</div>
	</div>
</div>

<div class="pb-1 mt-4 mb-2">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>


@if (SpecialEventsState!.Value.VisibleComponet == Enums.VisibleComponet.Table)
{
	@* ToDo: this loading component doesn't work as expected *@
	<LoadingComponent IsLoading="SpecialEventsState!.Value.SpecialEventList == null">
		<div class="@MediaQuery.XsOrSm.DivClass">
			<MasterListCardXsSm/>
		</div>

		<div class="@MediaQuery.MdOrLgOrXl.DivClass">
			<Table />
		</div>
		
	</LoadingComponent>
}
else
{
	@if (SpecialEventsState!.Value.VisibleComponet == Enums.VisibleComponet.AddEditForm)
	{
		<Form />
	}
	else
	{
		<DisplayCard />
	}
}


<AuthorizeView Roles="@Roles.AdminOrAnnouncements">
	<Authorized>
		<p>ToDo: Insert Components</p>
	</Authorized>

	@*

	<NotAuthorized>

		<div class="card border-warning my-5">
			<div class="card-header">Not Authorized</div>

			<div class="card-body">
				<h5 class="">To view <b>@Page.Title</b> you need to be logged in.</h5>
				<button @onclick="@(() => RedirectToLoginClick(Page.Index))"
								type="button" class="btn-primary btn-sm">
					Login <i class='fas fa-sign-in-alt'></i>
				</button>
			</div>
		</div>

	</NotAuthorized>
	*@

</AuthorizeView>

