@using BlzSrvFlxSrl.Features.SpecialEvents.Models
@using BlzSrvFlxSrl.Shared
@using System.Threading.Tasks

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (IsXsOrSm)
{
	<div class="mb-3">
		<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Add" IsXsOrSm="@IsXsOrSm" Id="0" />
		<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Repopulate" IsXsOrSm="@IsXsOrSm" Id="0" />
	</div>

	@foreach (var item in SpecialEventsState!.Value.SpecialEventList!)
	{
		<div class="card text-dark bg-light mb-5">
			<div class="card-header text-center">
				<h4>@item.Title</h4>
				<p>Type: @item.SpecialEventTypeDescr</p>
			</div>
			<div class="card-body">

				<div class="float-start">
					Event Date<br><b>@item.EventDate.ToShortDateString()</b>
				</div>
				<div class="float-end">
					Days <i class='fas fa-angle-left'></i> or <i class='fas fa-angle-right'></i>
					<br>@((MarkupString)item.DaysAheadXmSmMU)
				</div>
			</div>

			<h4 class="text-center mb-3">@item.SubTitle</h4>


			<div class="card-footer">
				<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Edit" IsXsOrSm="@IsXsOrSm" Id="@item.Id" />
				<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Delete" IsXsOrSm="@IsXsOrSm" Id="@item.Id" />
				<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Display" IsXsOrSm="@IsXsOrSm" Id="@item.Id" />

				@if (!String.IsNullOrEmpty(item.YouTubeId))
				{
					<span class="float-end">
						<button href="https://www.youtube.com/watch?v=@item.YouTubeId"
							class="btn btn-outline-danger btn-sm"
							type="button" target="_blank" title="@item.YouTubeId">
							<i class="fab fa-youtube"></i>
							<br><small>@item.YouTubeId</small>
						</button>
					</span>
				}
			</div>

		</div>
	}

}
else
{
	<span class="float-end">
		<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Add" IsXsOrSm="@IsXsOrSm" Id="0" />
		<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Repopulate" IsXsOrSm="@IsXsOrSm" Id="0" />
	</span>

	<TableTemplate Items="SpecialEventsState!.Value.SpecialEventList"
							 HeaderCSS="table table-primary table-hover">
		<TableHeader>
			<th>Title</th>
			<th>Event Date</th>
			<th>Days <i class='fas fa-angle-left'></i> or <i class='fas fa-angle-right'></i></th>
			<th>Type</th>
			<th>YT</th>
			<th class="text-center">Actions</th>
		</TableHeader>

		<RowTemplate>
			<td>@context.Title</td>
			<td>@context.EventDate.ToShortDateString()</td>
			<td>
				@((MarkupString)context.DaysAheadMU)
			</td>
			<td>@context.SpecialEventTypeDescr </td>
			<td>
				@if (!String.IsNullOrEmpty(@context.YouTubeId))
				{
					<a href="https://www.youtube.com/watch?v=@context.YouTubeId" target="_blank" title="@context.YouTubeId">
						<span class="btn btn-danger btn-sm"><i class="fab fa-youtube"></i></span>
					</a>
				}
				
			</td>
			<td class="text-center">
				<div class="btn-group">
					<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Edit" IsXsOrSm="@IsXsOrSm" Id="@context.Id" />
					<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Delete" IsXsOrSm="@IsXsOrSm" Id="@context.Id" />
					<ActionButtons OnCallBackEvent="@OnCallBackEvent" ParmCrud="Enums.Crud.Display" IsXsOrSm="@IsXsOrSm" Id="@context.Id" />
				</div>
			</td>

		</RowTemplate>

	</TableTemplate>

}